@import "tailwindcss";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
opacity: 1; /* Always visible */
}

html, body, #root{
    width: 100%;
    height: 100%;
}